
.e-searchbar{
    margin-top: 75px;
}
.a-heading h1{
    background-color: #384883;
    display: inline;
    color: white;
    padding: 4px 6px 2px 6px;
    border-radius: 7px;
}
.a-heading{
    border-bottom: solid 4px  #384883;
    margin-left: 10px;
    padding: 4px 0;
}

.First-box{
    margin: 7rem 0px ;
}
.load-btn{
    display: flex;
    justify-content: center;
    margin: 5rem 0px;
}
.load-btn button{
    border-radius: 28px;
    background-color: #DEDEDE;
    color: #384883;
    height: 43px;
    border:none;
    font-weight: 700;
    letter-spacing: 2px;
}