@import "../../global.scss";
.hackathons{
    width: 100vw;
    scroll-behavior: smooth;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    .sections{
        width: 100%;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            height: 350px;
            width: 85%;
        }
        .h-card{
           width: 100vw;
           height: auto;
           margin: 60px;
           color: white;
           background-color: $mainColor;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-self: center;
           span{
               font-size: 36px;
               font-weight: 700;
               letter-spacing: 2px;
               word-spacing: 10px;
               margin: 30px;
           }
           ul{
            width: 80%;
            display: flex;
           flex-direction: column;
           align-items: center;
           justify-self: center;
           .h-container{
               display: flex;
               align-items: center;
               justify-content: center;
               img{
                   width: 50px;
                   height: 32px;
                   margin: 10px;
               }
               li{
                   letter-spacing: 1px;
                   font-weight: 300;
                   line-height: 24px;
                   margin: 15px;
               }
           }
           }
        }
        .upcoming{
            display: flex;
            flex-direction: column;
            width: 100%;
            color: white;
            .head{
              height: auto;
              background-color: $mainColor;
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              justify-content: center;
              position: relative;
              padding: 0.4rem 0;
              margin: 12px 0;
              img{
                  width: 100px;
                  height: 100px;
              }
              span{
                font-size: 38px;
                font-weight: 700;
                letter-spacing: 2px;
                word-spacing: 5px;
                margin: 10px 200px;
                position: relative;
              }
            }
            .body{
                // height: 550px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .cardContainer{
                    height: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1.3rem;
                    .h-card{
                        background-color: white;
                        border: 1px solid black;
                        color: $mainColor;
                        height: 75%;
                        flex-basis: 230px;
                        flex-grow: 0.3;
                        margin: auto;
                        border-radius: 10px;
                        .top{
                          height: 35%;
                          width: 100%;
                          background-color: #EEEEF8;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          img{
                              height: 100px;
                              width: 100px;
                          }
                        }
                        .bottom{
                            width: 75%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            span{
                                font-size: 20px;
                                margin: 15px;
                            }
                            p{
                              color: #858FB3;
                              font-size: 14px;
                              line-height: 22PX;
                              letter-spacing: 1px;
                              text-align: center;
                            }
                        }
                    }
                }
                button{
                    width: fit-content;
                    color: white;
                    font-size: 18px;
                    margin: 10px;
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    height: 40px;
                    background-color: $mainColor;
                    padding: 3px 10px;
                }
            }
        }
        .past{
            display: flex;
            flex-direction: column;
            width: 100%;
            color: white;
            margin: 60px 0px;
            .head{
              height: auto;
              background-color: $mainColor;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              position: relative;
              padding: 0.4rem 0;
              margin: 12px 0;
              img{
                  width: 100px;
                  height: 100px;
              }
              span{
                font-size: 38px;
                font-weight: 700;
                letter-spacing: 2px;
                word-spacing: 5px;
                margin: 10px 20px;
                position: relative;
              }
            }
            .body{
                // height: 550px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .cardContainer{
                    height: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0;
                    gap: 1.3rem;
                    // margin-bottom: 0px;
                    .h-card{
                        background-color: white;
                        border: 1px solid black;
                        color: $mainColor;
                        height: 75%;
                        flex-basis: 230px;
                        flex-grow: 0.5;
                        margin: auto;
                        border-radius: 10px;
                        .top{
                          height: 35%;
                          width: 100%;
                          background-color: #EEEEF8;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          img{
                              height: 100px;
                              width: 100px;
                          }
                        }
                        .bottom{
                            width: 75%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            span{
                                font-size: 20px;
                                margin: 15px;
                            }
                            p{
                              color: #858FB3;
                              font-size: 14px;
                              line-height: 22PX;
                              letter-spacing: 1px;
                              text-align: center;
                            }
                        }
                    }
                }
                button{
                    width: fit-content;
                    color: white;
                    font-size: 18px;
                    margin: 10px;
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    height: 40px;
                    background-color: $mainColor;
                    padding: 3px 10px;
                }
            }
        }
    }
}

@media only screen and (max-width:550px){
    .h-container{
        img{
            display: none;
        }
    } 
    
    .h-card{
        flex-grow: 1;
    }

    .hackathons .sections img{
            height: 200px;
        }
}
